.queries-container{
    min-height: 630px;

    >.body{
        padding: 50px;

        >.title-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        >.chat-box{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            cursor: pointer;
            
            label{
                cursor: pointer;
            }
            
            >.left-side{
                background-color: #c3ccaf;
                display: flex;
                flex-direction: column;
                width: 70%;
                padding: 6.5px;
                border: 4px solid #392F36;
                cursor: pointer;
            }

            >.right-side{
                color: #c3ccaf;
                background-color: #392F36;
                display: flex;
                flex-direction: column;
                width: 30%;
                padding: 10px;
                cursor: pointer;
            }
        }

        >.chat-box:hover{

            >.left-side{
                color: #c3ccaf;
                background-color: #392F36;
                transition: 0.5s;
            }
        }

        >.catalog{
            margin-left: 8px;
            cursor: pointer;
            }
            
            >.catalog:hover{
            color: #04394e;
            transition: 0.5s;
        }
    }
}