.header-container{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #04394e;
    color: white;
    align-items: center;
    justify-content: space-between;

    >.auta-container{
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 20px;

        >.top-text-extra-bold{
            color: #c3ccaf;
            margin-top: 3px;
        }

        >.text-regular{
            margin-top: -8px;
        }
    }

    >.menu{
        display: flex;
        padding-right: 20px;

        >.text-menu{ 
            display: flex;
            flex-direction: column;
            cursor: pointer;
            width: 180px;
            height: 100px;
            justify-content: center;
            align-items: center;
            
            >.text-medium{
               cursor: pointer;
            }

            >.profile-menu{
                display: flex;
                flex-direction: column;
                position: absolute;
                text-align: right;
                padding: 20px;
                margin-top: 295px;
                margin-right: 150px;
                width: 250px;
                background-color: #04394e;
                border-radius: 20px;
                color: white;
                z-index: 1000;

                >.text-regular{
                    cursor: pointer;
                    margin-bottom: 10px;
                }
            }

            >.profile-menu-as{
                display: flex;
                flex-direction: column;
                position: absolute;
                text-align: right;
                padding: 20px;
                margin-top: 375px;
                margin-right: 150px;
                width: 270px;
                background-color: #04394e;
                border-radius: 20px;
                color: white;
                z-index: 1000;

                >.text-regular{
                    cursor: pointer;
                    margin-bottom: 10px;
                }
            }
        }

        >.text-menu:hover{
            color: #c3ccaf;
            transition: 0.5s;
        }
    }

    >.register-menu{
        margin-left: 35%;
    }
}