.favorite-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
>.left-panel{
    width: 40%;
    height: 100%;

    >.image{
        background-color: #c3ccaf;
        height: 80%;

        >img{
            width: 100%;
            height: 100%;
        }
    }

    >.name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        color: white;
        background-color: #04394e;
        height: 20%;

        label{
            display: flex;
            text-align: left;
            width: 90%;
        }
    }
}

>.right-panel{
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 60%;
        height: 100%;
        background-color: #04394e;
        padding: 20px;

    >.data{
            color: white;
            height: 100%;

        >.initial-cost{
                color: #00875e;
            }

        >.price{
                width: 80%;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: -11px;

                label{
                    display: flex;
                    max-width: 100%;
                    margin-right: 10px;
                }

                i{
                    display: flex;
                    justify-self: end;
                    cursor: pointer;
                }

                i:hover{
                    color: #00875e;
                    transition: 0.5s;
                }

            >.bi-currency-dollar{
                color: #00875e;
            }

            >.bi-currency-dollar:hover{
                color: #00875e;
            }
        }

        >.characteristics{
            display: flex;
            flex-direction: column;
            height: 50%;

            >.text-regular{
                width: 100%;
                min-height: 130px;
                overflow-y: scroll;
            }

            >.text-regular::-webkit-scrollbar {display: none;}
        }
    }

    >.actions{
            display: flex;
            position: absolute;
            align-self: flex-end;
            color: white;
            cursor: pointer;

            >i{
                padding-left: 10px;
            }

            >.bi-chat-square-text:hover{
                color: #4343e6;
                transition: 0.5s;
            }

            >.bi-heartbreak:hover{
                color: #e45353;
                transition: 0.5s;
            }
            
            >.bi-plus-circle:hover{
                color: #00875e;
                transition: 0.5s;
            }

            >.enable{
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;
                margin-top: 45px;
                margin-left: -50px;
                width: 170px;
                height: 40px;
                background-color: #00875e;
                border-radius: 10px;
            }
        }
    }
}