.update-vehicle-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
>.left-panel{
    width: 40%;
    height: 100%;

    >.image{
        background-color: #c3ccaf;
        height: 80%;

        >img{
            width: 100%;
            height: 100%;
        }
    }

    >.name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        color: white;
        background-color: #04394e;
        height: 20%;

        input{
            background-color: #04394e;
            color: white;
            border: 0;
            border-bottom: 1px white solid;
            width: 90%;
            padding: 0;
        }

        input:focus{
            outline: 0;
            border-bottom: 1px white solid;
        }

        label{
            display: flex;
            text-align: left;
            width: 90%;
        }

        i{
            cursor: pointer;
            font-size: 25px;
        }

        i:hover{
            color: #c3ccaf;
            transition: 0.5s;
        }
    }
}

>.right-panel{
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 60%;
        height: 100%;
        background-color: #392F36;
        padding: 20px;

    >.data{
            color: white;
            height: 100%;

        >.initial-cost{
                color: #00875e;
            }

        >.price{
                width: 80%;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: -11px;

                label{
                    display: flex;
                    max-width: 100%;
                    margin-right: 10px;
                }

                input{
                    background-color: #392F36;
                    color: white;
                    border: 0;
                    border-bottom: 1px white solid;
                    width: 90%;
                    outline: 0;
                    padding: 0;
                }
    
                input:focus{
                    outline: 0;
                    border-bottom: 1px white solid;
                }

                i{
                    display: flex;
                    justify-self: end;
                    cursor: pointer;
                }

                i:hover{
                    color: #00875e;
                    transition: 0.5s;
                }

            >.bi-currency-dollar{
                color: #00875e;
            }

            >.bi-currency-dollar:hover{
                color: #00875e;
            }
        }

        >.characteristics{
            display: flex;
            flex-direction: column;
            height: 50%;
            
            >.title{
                
                i{
                    margin: 5px;
                    cursor: pointer;
                }

            }

            >textarea{
                background-color: #392F36;
                display: flex;
                color: white;
                border: 0;
                border-bottom: 1px white solid;
                outline: 0;
                min-height: 130px;
                overflow-y: scroll;
                padding: 0;
            }

            >label{
                background-color: #392F36;
                color: white;
                border: 0;
                width: 100%;
                outline: 0;
                min-height: 130px;

                overflow-y: scroll;
            }

            >label::-webkit-scrollbar {display: none;}
            >textarea::-webkit-scrollbar {display: none;}
        }

        }

    >.actions{
            display: flex;
            position: absolute;
            align-self: flex-end;
            color: white;
            cursor: pointer;

            i{
                padding-left: 10px;
            }

            i:hover{
                color: #e45353;
                transition: 0.5s;
            }

            div{
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: center;
                margin-top: 45px;
                margin-left: -40px;
                width: 120px;
                height: 40px;
                background-color: #04394e;
                border-radius: 10px;
            }

            .disabled{
                background-color: #e45353;
                cursor: default;
                margin-top: 230px;
            }
        }
    }
}