.favorites-container {
    min-height: 630px;

    .body{
        padding: 50px;
        
        >.title-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;

            >.delete-favorites{
                display: flex;
                align-items: center;
                cursor: pointer;

                >.text-regular{
                    cursor: pointer;
                }

                >i{
                    margin-left: 10px;
                }
            }

            >.delete-favorites:hover{
                color: #e45353;
                transition: 0.5s;
            }  
        }

        >.vehicles{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 300px;

            >.vehicle{
                width: 100%;
                height: 100%;
                margin-bottom: 50px;
            }
            
            >.catalog{
                margin-left: 8px;
                cursor: pointer;
                }
                
                >.catalog:hover{
                color: #04394e;
                transition: 0.5s;
            }
        }

    }
}