.chat-container{
    min-height: 630px;

    >.body{
        padding: 50px;

        >.title-box{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            align-items: start;
        }

        >.chat-box{
            display: flex;
            flex-direction: column;
            padding-left: 5%;
            width: 100%;
            height: 450px;

            >.background{
                display: flex;
                flex-direction: column;
                background-color: #04394e;
                width: 95%;
                height: 85%;
                border-bottom: 1px solid #c3ccaf;
                padding: 40px;
                overflow: scroll;
                border-radius: 7px;

                >.own-message{
                    display: flex;
                    align-self: end;
                    justify-content: end;
                    background-color: #c3ccaf;
                    width: 500px;
                    min-height: 70px;
                    padding: 20px;
                    margin-bottom: 30px;
                    border-radius: 10px;
                }

                >.other-message{
                    background-color: #dee2d2;
                    width: 500px;
                    min-height: 70px;
                    text-align: start;
                    padding: 20px;
                    margin-bottom: 30px;
                    border-radius: 10px;
                }
            }

            >.background::-webkit-scrollbar {display: none;}


            >.message{
                color: white;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: #392F36;
                width: 95%;
                height: 15%;
                padding: 20px;
                border-radius: 7px;

                >.text-regular{
                    width: 95%;
                    border: 0;
                    background-color: transparent;
                    color: white;
                }

                >.bi-send{
                    width: 5%;
                    cursor: pointer;
                    font-size: 30px;
                }
            }
        }
    }
}