.login-container {
    min-height: 630px;

    >.body{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        
        >.form{
            padding: 30px 50px;
            border: 4px solid #04394e;
            border-radius: 10px;
            width: 500px;
            min-height: 500px;

            >.top-text-bold{
                margin-bottom: 20px;
            }

            >form{
                >.input-form{
                    text-align: left;

                    >.text-regular{
                        padding-left: 5px;
                        margin-bottom: 5px;
                    }

                    >input{
                        width: 400px;
                        height: 40px;
                        margin-bottom: 25px;
                    }

                    >span{
                        position: absolute;
                        width: 400px;
                        margin-top: -25px;
                        padding-left: 10px;
                        align-self: end;
                        text-align: center;
                        color: #e45353;
                    }
                }
                
                >.text-regular{
                    margin: 10px 0;
                }
                
            }

            >.text-regular{
                padding:10px;
            }
        }

        >div{
            display: flex;
            flex-direction: column;

            >form{
                display: flex;
                flex-direction: column;
            }
        }
    }
}