.update-vehicles-container {
    min-height: 630px;

    >.internal{
        padding: 50px;

        >.title-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;

            >.text-regular{
                height: 50px;
                width: 45%;
                align-self: center;
            }

            >.add-vehicle{
                display: flex;
                align-items: center;
                cursor: pointer;

                >.text-regular{
                    cursor: pointer;
                }

                >i{
                    margin-left: 10px;
                }
            }

            >.add-vehicle:hover{
                color: #00875e;
                transition: 0.5s;
            }  
        }

        >.add-box{
            background-color: #04394e;
            display: flex;
            width: 100%;
            height: 300px;
            margin-bottom: 40px;
            color: white;

            >.bi-caret-up-fill{
                display: flex;
                color: red;
                position: absolute;
            }

            >.add-form{
                display: flex;
                flex-direction: row;
                width: 100%;

                span{
                    color: rgb(236, 145, 145);
                }
                
                >.left-side{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    width: 45%;
                    padding: 20px;
                    
                    >.input-container{
                        display: flex;
                        flex-direction: column;
                        width: 70%;
                        margin-bottom: 10px;
                        
                        >input{
                            padding: 5px;
                            font-size: 15px;
                        }
                        
                        >.minor-text-regular{
                            border: 0;
                            background-color: transparent;
                        }
                    }
                }

                >.right-side{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    width: 47%;
                    padding: 20px;

                    >label{
                        margin-bottom: 5px;
                    }

                    >textarea{
                        width: 90%;
                        resize: none;
                        display: flex;
                        min-height: 70%;
                        overflow-y: scroll;
                        padding: 7px;
                        font-size: 15px;
                    }
                    >textarea::-webkit-scrollbar {display: none;}
                }

                >.icon-container{
                    display: flex;
                    align-items: end;
                    height: 100%;
                    width: 6%;
                    padding-bottom: 10px;

                    >.bi-check-circle-fill{
                        color: #00875e;
                        font-size: 50px;
                        position: absolute;
                        cursor: pointer;
                    }
                }
            }
        }
        
        >.vehicles{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 300px;

            >.vehicle{
                padding-bottom: 50px;
            }

            >.top-text-regular{
                margin: 50px;
            }
        }
    }
}