.catalog-vehicle-container{
    padding: 30px;
    width: 33.33%;
    height: 300px;

    >.body{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;

        >.image{
            width: 100%;
            height: 80%;
            background-color: #c3ccaf;

            >img{
                width: 100%;
                height: 100%;
            }
        }

        >.description{
            padding: 0 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 20%;
            color: white;
            background-color: #04394e;

            >.text-regular{

            }
            >.actions{
                display: flex;
                flex-direction: column;
                justify-content: end;
                height: 130px;
                margin-top: -105px;
                cursor: pointer;

                >.no-logged{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: -7px;

                    >label{
                        cursor: pointer;
                    }
                }

                >.no-logged:hover{
                    >.bi-plus-circle{
                        color: #00875e;
                        transition: 0.5s;
                    }
                }

                >.options{
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    text-align: center;
                    justify-content: center;
                    position: absolute;
                    width: 136px;
                    height: 90px;
                    margin: 0 0 40px -120px;
                    background-color: #04394e;
                    border-radius: 10px;

                    >div{
                        display: flex;
                        align-items: center;
                        height: 27px;
                        padding-right: 5px;
                        cursor: pointer;

                        >i{
                            display: flex;
                            margin-left: 5px;
                        }

                        >label{
                            cursor: pointer;
                        }
                    }

                    >div:hover{
                        >.bi-heart{
                            color: #e45353;
                            transition: 0.5s;
                        }
                        >.bi-heartbreak{
                            color: #e45353;
                            transition: 0.5s;
                        }
                        >.bi-chat-square-text{
                            color: #4343e6;
                            transition: 0.5s;
                        }

                        >.bi-plus-circle{
                            color: #00875e;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}