.catalog-container {
    min-height: 630px;

    .body{
        padding: 50px;

        >.title-box{
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;

            >input{
                margin-left: 50px;
                height: 50px;
                width: 45%;
                align-self: center;
            }
        }
        .vehicles{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            min-height: 300px;
        }
    }
}