/* 
Text sizes:
- Title: 70px
- Top Subtitle: 55px
- Subtitle: 40px
- Top Text: 30px
- Text: 20px
- Minor Text: 10px
*/

/* 
Font Weights:
- Thin: 100
- ExtraLight: 200
- Light: 300
- Regular: 400
- Medium: 500
- SemiBold: 600
- Bold: 700
- ExtraBold: 800
- Black: 900
*/

.title-extra-bold{
    font-size: 70px;
    font-weight: 800;
}

.title-medium{
    font-size: 70px;
    font-weight: 500;
}

.top-subtitle-medium{
    font-size: 55px;
    font-weight: 500;
}

.top-subtitle-regular{
    font-size: 55px;
    font-weight: 400;
}

.top-subtitle-light{
    font-size: 55px;
    font-weight: 300;
}

.subtitle-extra-light{
    font-size: 40px;
    font-weight: 200;
}

.subtitle-medium{
    font-size: 40px;
    font-weight: 500;
}

.subtitle-regular{
    font-size: 40px;
    font-weight: 400;
}

.subtitle-extra-bold{
    font-size: 40px;
    font-weight: 800;
}

.subtitle-bold{
    font-size: 40px;
    font-weight: 700;
}

.top-text-medium{
    font-size: 30px;
    font-weight: 500;
}

.top-text-regular{
    font-size: 30px;
    font-weight: 400;
}

.top-text-semibold{
    font-size: 30px;
    font-weight: 600;
}

.top-text-bold{
    font-size: 30px;
    font-weight: 700;
}

.top-text-extra-bold{
    font-size: 30px;
    font-weight: 800;
}

.text-bold{
    font-size: 20px;
    font-weight: 700;
}

.text-regular{
    font-size: 20px;
    font-weight: 400;
}

.text-semibold{
    font-size: 20px;
    font-weight: 600;
}

.text-medium{
    font-size: 20px;
    font-weight: 500;
}

.minor-text-regular{
    font-size: 10px;
    font-weight: 400;
}
