body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  border-radius: 10px 10px 0 0;
}

input{
  outline: 0;
  background-color: #dee2d2;
  border: 0;
  border-bottom: 3px solid #00875e;
  border-right: 3px solid #00875e;
  margin-bottom: 10px;
  padding: 10px;
}

input:focus{
  border-bottom: 3px solid #04394e;
  border-right: 3px solid #04394e;
  transition: 0.5s;
}

textarea{
  outline: 0;
  background-color: #dee2d2;
  border: 0;
  border-bottom: 3px solid #00875e;
  border-right: 3px solid #00875e;
  resize: none;
}

textarea:focus{
  border-bottom: 3px solid #04394e;
  border-right: 3px solid #04394e;
  transition: 0.5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
