.vehicle-container {
    min-height: 630px;

    >.internal{
        padding: 50px;

        >.title-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;

            div{
                cursor: pointer;
            }

            .bi-chat-square-text{
                margin-right: 10px;
            }

            .bi-chat-square-text:hover{
                color: #4343e6;
                transition: 0.5s;
            }

            .bi-heart:hover{
                color: #e45353;
                transition: 0.5s;
            }

            .bi-heartbreak:hover{
                color: #e45353;
                transition: 0.5s;
            }
        }
        
        >.body{
            display: flex;
            flex-direction: row;
            width: 100%;

            >.image{
                width: 50%;
                
                >img{
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 10px;
                    filter: drop-shadow(16px 16px 20px #04394e);
                }
            }

            >.data{
                width: 50%;
                display: flex;
                flex-direction: column;

                >label{
                    color: #00875e
                }

                i{
                    color: #00875e;
                }

                .characteristics{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}